<mat-card>
  <mat-card-title>
    RigBus card
  </mat-card-title>
  <mat-card-content>
    <form class="rig-form">
      
      <mat-form-field class="form">
        <mat-label>Rig Name</mat-label>
        <input matInput placeholder="Flex 3000, Master Rig, etc (must be unique)" value="">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Speed in Bits Per Second AKA Baud</mat-label>
        <select matNativeControl required>
          <option value="300">300</option>
          <option value="1200">1200</option>
          <option value="2400">2400</option>
          <option value="4800">4800</option>
          <option value="9600">9600</option>
          <option value="19200">19,200</option>
          <option value="38400">38,400</option>
          <option value="57600">57,600</option>
          <option value="115200">115,200</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parity</mat-label>
        <select matNativeControl required>
          <option value="none">none</option>
          <option value="even">even</option>
          <option value="odd">odd</option>
          <option value="mark">mark</option>
          <option value="space">space</option>
        </select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Data Bits</mat-label>
        <select matNativeControl required>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8" selected>8</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stop Bits</mat-label>
        <select matNativeControl required>
          <option value="1" selected>1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
        </select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>New Rig</button>
    <button mat-button>Save</button>
  </mat-card-actions>
</mat-card>