@page "/rigSettings"
@using System.ComponentModel.DataAnnotations

<div class="page-background">

    <EditForm Model="Config" OnValidSubmit="Success">
        <DataAnnotationsValidator />
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            Summary-level Validation Messages
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            Field-level Validation Messages
        </div>
        <div>
            <MatTextField Label="Name" @bind-Value="Config.name" />
            <ValidationMessage For="@(()=> Config.name)" />
        </div>
        <MatButton Type="submit" Raised="true">Login</MatButton>
    </EditForm>



</div>


