@page "/RigSettings/{name}"
<h3>RigSettings @Name</h3>

<!--<EditForm Model="@Config" OnValidSubmit="@HandleValidSubmit">-->
    @*<DataAnnotationsValidator />
    <ValidationSummary />*@

    <!--<InputText id="name" @bind-Value="Config.name" />

    <button type="submit">Submit</button>
</EditForm>-->