@page "/valid"
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers
<EditForm EditContext="EC" >
    <DataAnnotationsValidator />

    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <p>
                    <MatTextField Label="Username" @bind-Value="myModel.Username" />
                    <ValidationMessage For="@(() => @myModel.Username)" />
                </p>
                <p>
                    <MatTextField Label="Password" @bind-Value="myModel.Password" Type="password" />
                    <ValidationMessage For="@(() => myModel.Password)" />
                </p>
                <p>
                    <MatTextField Label="Comment" @bind-Value="myModel.Comment" />
                    <ValidationMessage For="@(() => myModel.Comment)" />
                </p>

            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                @*<MatButton Type="submit" Raised="true">Login</MatButton>*@
                <MatButton OnClick="Success" Raised="true">Login</MatButton>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
            </div>
        </div>
    </div>
    <ValidationSummary/>
</EditForm>
