@page "/logging"
@using Serilog


<div class="top-row mt-1">
    <button class="btn-link btn-primary" @onclick="LogMessage">Log Message with Seriallog</button>
</div>

<div class="top-row mt-1">
    <button class="btn-link btn-warning" @onclick="LogWarning">Log Warning with Seriallog</button>
</div>

<div class="top-row mt-1">
    <button class="btn-link btn-danger" @onclick="LogError">Log Error with Seriallog</button>
</div>
@code {

  private void LogMessage()
  {
      Log.Information("Information Message");

  }
  private void LogWarning()
  {
      Log.Warning("Warning Warning");

  }
  private void LogError()
  {
      Log.Error("Error Message");

  }
}


