<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened="false" position="start">
    <button mat-button>Home</button>
    <button mat-button color="primary" (click)="homeClick()">Home</button>
    <button mat-button color="primary" (click)="rigClick()">Rig</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      HamBus Master Control
      <span class="toolbar-spacer"></span>
      Unused
    </mat-toolbar>
    <app-dash-board></app-dash-board>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>