<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened="false" position="start">
    left panel
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      HamBus Master Control
      <span class="toolbar-spacer"></span>
      Unused
    </mat-toolbar>
    <div class="main-content">
      HamBus
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>