<fieldset>
    <legend>
        HamBus Status
    </legend>
    <div class="example-button-container">
        <button mat-button background-color="#007700" aria-label="Example icon button with a delete icon">
            Flex
        </button>
        <button mat-button color="primary" aria-label="Example icon button with a delete icon">
            SDRplay
        </button>
        <button mat-button color="primary" aria-label="Example icon button with a delete icon">
            Virtual 1
        </button>
        <button mat-button color="primary" aria-label="Example icon button with a delete icon">
            Virtual 2
        </button>

    </div>
</fieldset>